// COLORS
$greenNormal: #62c188;
$greenClair: #eaf9ec;
$greenFonce: #35764b;
$greenDark: #0e401c;
$yellow: #f5ba49;
$pinkClair: #f09f97;
$corail: #ff7b6f;
$grey: #e5e5e5;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//*** GENERAL ***//
h1 {
  font-family: Averta Std PE;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
.center {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  span {
    margin-bottom: 30px;
    font-size: 36px;
    color: $greenDark;
    font-weight: 700;
    font-family: "Averta";
  }
}

.errorContainer {
  height: 20px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  .error {
    font-size: 14px;
  }
}

.btn-none {
  background-color: transparent;
  outline: none;
}
// COMPONENT
.header {
  padding: 30px 0;
  // background-color: $grey;
  border-bottom: 1px solid #e5e5e5;
}

.typeQuestion {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid $greenNormal;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 350px;
  color: $greenNormal;
  font-size: 18px;
  svg {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
}

.buttonAnswer {
  cursor: pointer;
  font-family: "Averta";
  background-color: $greenNormal;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  height: 100%;
}
.buttonEdit {
  cursor: pointer;
  color: $greenNormal;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonDelete {
  cursor: pointer;
  width: 40px;
  height: 100%;
  border: 1px solid $corail;
  border-radius: 5px;
  color: $corail;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Averta";
  font-size: 18px;
  color: $greenDark;
  font-weight: 700;
  span {
    margin-left: 10px;
  }
}

.check {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 1px solid $greenNormal;
  border-radius: 5px;
  color: $greenNormal;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back {
  cursor: pointer;
}

.buttonSave {
  font-family: "Averta";
  cursor: pointer;
  background-color: $greenNormal;
  color: white;
  // width: 140px;
  // height: 50px;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
}

.textQst,
.noteQst {
  width: 73px;
  height: 100%;
  background-color: $pinkClair;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  svg {
    width: 18px;
  }
}
.textQst {
  background-color: $yellow;
}

// MODAL
.modalAddForm,
.modalError,
.modalSuccess {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 99;
  background: rgba(17, 17, 17, 0.48);

  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: "Averta";
  button {
    margin-top: 15px;
  }
  .modal-content {
    .header-modal {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      span {
        font-size: 24px;
        margin-bottom: 20px;
      }
      svg {
        cursor: pointer;
        color: $greenNormal;
        width: 20px;
        height: 20px;
        margin-left: 20px;
      }
    }

    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background: white;
    padding: 35px;
    border-radius: 5px;

    input {
      border: none;
      border-bottom: 1px solid $corail;
      // height: 35px;
      // margin-bottom: 20px;
      outline: none;
      padding: 2px 0;
      width: 100%;
      ::placeholder {
        color: $greenDark;
      }
    }
  }
}

// CONTAINERS
// Forms
.Forms {
  margin-top: 40px;
  margin-bottom: 40px;
  .allFormsCard {
    display: flex;
    flex-wrap: wrap;
  }
  .heading {
    font-family: "Averta";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: $greenDark;
  }
  .cardForm {
    padding: 20px;
    background: linear-gradient(
      269.83deg,
      #eaedef 0.16%,
      rgba(234, 238, 239, 0.35) 98.29%
    );
    border-radius: 10px;
    height: 230px;
    width: 380px;
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    > div {
      font-size: 12px;
    }
    .titleCard {
      font-size: 22px;
      color: $greenDark;
      font-weight: 700;
    }
    .btnCardForm {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      :first-child div {
        margin-right: 25px;
        font-size: 14px;
      }
    }
  }
  .cardAddForm {
    background: linear-gradient(
      270deg,
      #62c188 0%,
      rgba(98, 193, 136, 0.5) 98.55%
    );
    height: 230px;
    width: 380px;

    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    div {
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      p {
        margin-top: 10px;
        font-family: "Averta";
        color: white;
        font-size: 22px;
      }
    }
  }
  .formCards {
    font-family: "Averta";
    margin: 25px 25px 0 0;
  }
}

// EDITFORM
.topEdit {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .inputTitleForm {
    width: 60%;
    margin: 0 20px;
    form {
      display: flex;
      align-items: center;
      justify-content: center;
      ::placeholder {
        color: $grey;
        font-weight: 700;
      }
      input {
        width: 100%;
        font-family: "Averta";
        font-size: 24px;
        text-align: center;
        border-radius: 5px;
        outline: none;
        border: 0.5px solid $grey;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $greenDark;
        font-weight: 700;
        margin-right: 10px;
      }
    }
    .titleError {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
  .btnTopEdit {
    display: flex;
    align-items: center;
    .answerForm {
      height: 40px;
    }
    .deleteForm {
      height: 40px;
      margin-right: 10px;
    }
  }
}
// CONTENT EDIT
.ContentEdit {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  background-color: $greenClair;
  font-family: "Averta";
  border-radius: 15px;
  padding: 25px;
  .top {
    display: flex;
    align-items: center;
    font-family: "Averta";
    font-size: 24px;
    color: $greenDark;
    font-weight: 700;
    margin-top: 10px;

    :first-child {
      margin-right: 50px;
    }
    .switchQuestion,
    .switchAnswer {
      padding-bottom: 5px;
      cursor: pointer;
    }
    .line {
      padding-bottom: 3px;
      border-bottom: 2px solid $greenDark;
    }
    .inactive {
      color: $greenNormal;
    }
  }
  .formEditQst {
    margin: 50px 0;
  }
  .oneQst {
    display: flex;
    align-items: center;
    height: 37px;
    margin-bottom: 35px;
    div {
      margin-right: 10px;
    }
    .logoTypeQst {
      height: 100%;
    }
    .inputQst {
      height: 100%;
      width: 100%;
      input {
        height: 100%;
        border-radius: 5px;
        padding: 5px 10px;
        border: none;
        width: 100%;
      }
    }
  }
  .rankMoinsQst,
  .rankPlusQst,
  .trashQst {
    cursor: pointer;
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $greenDark;
    width: 37px;
    border-radius: 5px;
  }
  .trashQst {
    color: $corail;
  }
  .btnTypeNewQst {
    display: flex;
    :first-child {
      margin-right: 10px;
    }
  }
  .btnSave {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
  }
  .noQuestion {
    color: $greenDark;
    font-weight: 700;
    font-style: italic;
    margin: 50px 0;
  }
}

.back {
  margin-top: 10px;
}
.content-form {
  margin-top: 20px;
  display: flex;
  background-color: $greenClair;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  min-height: 75vh;
  padding: 35px;
  .intro {
    font-family: "Averta";
    height: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    > div:first-child {
      font-size: 18px;
      font-weight: 400;
      color: $greenFonce;
    }
    > div:nth-child(2) {
      font-size: 36px;
      color: $greenDark;
    }
    > div:nth-child(3) {
      font-size: 24px;
      font-weight: 700;
      color: $greenFonce;
    }
  }
}
.content-question {
  margin-top: 20px;
  background-color: #eaf9ec;
  border-radius: 15px;
  min-height: 80vh;
  padding: 35px;
  font-family: "Averta";
  justify-content: center;
  display: flex;
  flex-direction: column;

  .numQst {
    font-size: 16px;
    font-weight: 400;
    color: $greenFonce;
    margin-bottom: 10px;
  }
  .title {
    font-size: 36px;
    color: $greenDark;
    margin-bottom: 35px;
  }
  .textarea {
    width: 700px;
    height: 200px;
    border-radius: 15px;
    border: none;
    outline: none;
    border-style: none;
    padding: 20px;
    font-family: "Averta";
    background-color: white;
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px 0;
  }
  .btnQst {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }
}
.listeNote {
  display: flex;
  .note {
    border: 1px solid $greenFonce;
    padding: 25px 33px;
    &:hover {
      background-color: $pinkClair;
      cursor: pointer;
    }
  }
}
.next,
.previous {
  width: 120px;
  height: 50px;
}
.next {
  cursor: pointer;
  background-color: $greenNormal;
  color: white;
  border-radius: 5px;
}
.previous {
  cursor: pointer;
  color: $greenNormal;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    margin-right: 10px;
  }
}

.titleQuestion {
  color: $greenNormal;
  font-weight: 500;
  font-size: 18px;
  margin-left: 30px;
  margin-bottom: 30px;
}
.rep {
  font-size: 16px;
  margin-left: 105px;
  text-align: justify;
  margin: 15px 0 15px 105px;
}
.oneAnswer {
  margin: 25px 0;
}
// .listeNote {
//   margin-bottom: 30px;
//   font-size: 24px;
// }

.answer {
  margin-top: 30px;
}
.ContentEdit {
  .listeNote {
    margin: 15px 0 15px 105px;
    margin-bottom: 30px;
    font-size: 24px;
  }
  .noteQst {
    height: 37px;
  }
  .textQst {
    height: 37px;
  }
}
.centerAnswer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.btn-finish {
  font-family: "Averta";
  cursor: pointer;
  background-color: #62c188;
  color: white;
  width: 300px;
  height: 50px;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
}
